.bgimage {
	background-image: url("../images/bgport.jpg");
	background-size: cover;
	background-repeat: repeat;
}

.bgother1 {
	background-image: url("../images/bgother1.jpg");
	height: 750px;
	background-size: cover;
	background-repeat: repeat;
}

.fontstyle {
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
}

.imgsize {
	height: 20vh;
}

.bgabout {
	background: url("../images/bgabout.jpg");
	height: 420px;
}
hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 2px 0;
    border-radius: 20px;
}

.bg-dim {
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

.cardsize {
	width: 9rem;
}

.cardsize1 {
	width: 10rem;
}

.cardsize-work {
	width: 18rem;
}
